@model IEnumerable<BeeronomicsMVC.Models.Drink>
@inject IJSRuntime JSRuntime

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href=~/css/site.css />
    
        <title>Display</title>
    
        <style>
        body {
            background-color: black;
        }
        .drink-display { 
            font-family: 'Times Square';
            color: white;
            font-size: 30px;
            width: 400px;
        }
        .flexbox {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            background: #cecece;
            flex-direction: column;
        }

        .flexitem {
            height: 100%;
            margin-bottom: 4px;
            background: #16B6B6FF;
            width: 100%;
            max-width: 100%;
            text-align: center;
            animation-name: fadeIn;
            animation-duration: 2s;
        }

        .flexitem[data-hidden="true"] {
            display: none;    
        }

        @@keyframes fadeIn {
           from    { opacity: 0; }
           to      { opacity: 1; }
        }

        </style>
    </head>
    <body>
        <div class="flexbox">
            @foreach(Drink drink in Model)
            {
                if (drink.Active)
                {
                    <div class="drink-display flexitem fadeIn" id="div_@drink.ID" style="order: @drink.ID;">
                        <span id="@drink.ID" class="">@drink.Symbol : @Math.Round(drink.DrinkPrices.ActivePrice, 2)</span> &nbsp;&nbsp;&nbsp;<i data-indicator="price" class="@(drink.PriceLastIncreased ? "fa-solid fa-arrow-up price-increase" : "fa-solid fa-arrow-down price-decrease")"></i><br/>
                    </div>
                }
                else
                {
                    <div class="drink-display flexitem fadeIn" id="div_@drink.ID" data-order="1" style="display: none; order: @drink.ID;">
                        <span id="@drink.ID" class="">@drink.Symbol : @Math.Round(drink.DrinkPrices.ActivePrice, 2)</span>&nbsp;&nbsp;&nbsp;<i data-indicator="price" class="@(drink.PriceLastIncreased ? "fa-solid fa-arrow-up price-increase" : "fa-solid fa-arrow-down price-decrease")"></i>
                    </div>
                }
            }
        </div>
        <script>
            var getChartDataUrl= "@Url.Action("GetChartData", "Display")";
        </script>
    </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://kit.fontawesome.com/92134c6582.js" crossorigin="anonymous"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/shuffle.js"></script>
</html>
