@using Microsoft.AspNetCore.Components
@model IEnumerable<BeeronomicsMVC.Models.Drink>
@inject NavigationManager NavigationManager

<table id="drinks">
    <thead>
        <tr class="row">
            <th class="col">Photo</th>
            <th class="col">Symbol</th>
            <th class="col">Name</th>
            <th class="col">Active Price</th>
            <th class="col">Active</th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Drink drink in Model)
        {
            <tr class="row" id="drink_@drink.ID">
                <td class="col photo"><img src="@drink.Photo"/></td>
                <td class="col symbol">@drink.Symbol</td>
                <td class="col name">@drink.Name</td>
                <td class="col active-price">@drink.DrinkPrices.ActivePrice</td>
                <td class="col active">@(drink.Active ? "Yes" : "No")</td>
                <td class="col buttons">
                    <button class="btn btn-primary btn-increase-price" onclick="increaseDrinkPrice(@drink.ID)"><i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-primary btn-decrease-price" onclick="decreaseDrinkPrice(@drink.ID)"><i class="fa-solid fa-minus"></i></button>
                    <button class="btn btn-primary btn-update" onclick="editDrink(@drink.ID)"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn btn-primary btn-deactivate" onclick="toggleActiveStatus(@drink.ID)"><i class="@(drink.Active ? "fa-solid fa-ban" : "fa-solid fa-plus")"></i></button>
                </td>
            </tr>
            <tr>
                <canvas id="chart_@drink.ID" width="400" height="400">

                </canvas>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/drinks.js"></script>
